@import "https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i|Raleway:300,300i,600,600i";

body {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

hr {
  border-style: dotted none none none;
  border-color: #a759d7;
  border-width: 5px;
  width: 5%;
}

h1 {
  color: #5989d7;
}

h2 {
  color: #89d759;
}

h3 {
  color: black;
}

.class {
}

.menu {
}

.news-list {
  height: 500px;
  width: 500px;
}

.zeroMargins {
  margin: 0px 0px 0px 0px;
}

.greeting-card {
  border: none;
  height: auto;
  width: 500px;
  text-align: center;
  /*background-image: url("../images/suzukake.jpg");*/
}

.flex-container {
  display: flex;
  width: 70%;
  align-content: center;
}

.flex-child {
  flex: 1;
  width: 30%;
}

.flex-child:first-child {
  margin-right: 20px;
  margin-top: 20px;
}

.main-img {
  width: 50%;
  height: 50%;
}

.footer {
  text-align: center;
  width: 100%;
}
