<!-- Header -->
<header id="header" class="skel-layers-fixed">
  <h1><a href="{{ site.baseurl }}/" class="site-title">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
	
      {% for page in site.pages %} {% if page.lang == site.active_lang and page.name == "about.html" %} {% if page.title
      %}
      <li>
        <a class="page-link" href="{% if site.active_lang == site.default_lang %}{{site.baseurl}}{{page.url}}{% else %}{{site.baseurl}}/{{ site.active_lang }}{{page.url}}{% endif %}"
         >{{ page.title }}</a
        >
      </li>
      {% endif %} {% endif %}{% endfor %} 
	  
	{% for page in site.pages %} {% if page.lang == site.active_lang and page.name == "research.html" %} {% if page.title
      %}
      <li>
        <a class="page-link" href="{% if site.active_lang == site.default_lang %}{{site.baseurl}}{{page.url}}{% else %}{{site.baseurl}}/{{ site.active_lang }}{{page.url}}{% endif %}"
         >{{ page.title }}</a
        >
      </li>
      {% endif %} {% endif %}{% endfor %} 
	  
	  
	{% for page in site.pages %} {% if page.lang == site.active_lang and page.name == "join.html" %} {% if page.title
      %}
      <li>
        <a class="page-link" href="{% if site.active_lang == site.default_lang %}{{site.baseurl}}{{page.url}}{% else %}{{site.baseurl}}/{{ site.active_lang }}{{page.url}}{% endif %}"
         >{{ page.title }}</a
        >
      </li>
      {% endif %} {% endif %}{% endfor %} 
	 
	  {% for page in site.pages %} {% if page.lang == site.active_lang and page.name == "access.html" %} {% if page.title
      %}
      <li>
        <a class="page-link" href="{% if site.active_lang == site.default_lang %}{{site.baseurl}}{{page.url}}{% else %}{{site.baseurl}}/{{ site.active_lang }}{{page.url}}{% endif %}"
         >{{ page.title }}</a
        >
      </li>
      {% endif %} {% endif %}{% endfor %} 
	  
	 {% for page in site.pages %} {% if page.name == "news.html" %} 
      <li>
        <a class="page-link" href="{% if site.active_lang == site.default_lang %}{{site.baseurl}}{{page.url}}{% else %}{{site.baseurl}}/{{ site.active_lang }}{{page.url}}{% endif %}"
         >{% if site.active_lang == "ja" %} {{page.ja-name}} {% else %} {{ page.title }} {% endif %}</a
        >  
	   </li> 
	  {% endif %} {% endfor %} 
	 	  
	   
     <li>
	  
	   {% for tongue in site.languages %}
	<a {% if tongue == site.active_lang %}style="font-weight: bold;"{% endif %} {% static_href %}href="{% if tongue == site.default_lang %}{{site.baseurl}}{{page.url}}{% else %}{{site.baseurl}}/{{ tongue }}{{page.url}}{% endif %}"{% endstatic_href %} > {{ tongue }} </a> 
	{% if tongue == "en" %} | {% endif %} 
	{% endfor %}
  
      </li>
    </ul>
  </nav>
</header>
