<!-- Header -->
<header id="header" class="skel-layers-fixed">
  <h1><a href="{{ site.baseurl }}/" class="site-title">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ site.baseurl }}/about.html">About</a></li>
      <li><a href="{{ site.baseurl }}/right-sidebar.html">Research</a></li>
      <li><a href="{{ site.baseurl }}/no-sidebar.html">Join</a></li>
      <li><a href="{{ site.baseurl }}/blog.html">News</a></li>
      {% for page in site.pages %} {% if page.title %}
      <li>
        <a class="page-link" href="{{ page.url | prepend: site.baseurl }}"
          >{{ page.title }}</a
        >
      </li>
      {% endif %} {% endfor %}
      <li><a href="{{ site.baseurl }}/no-sidebar.html">Access</a></li>
    </ul>
  </nav>
</header>
