<!-- Header -->
<header id="header" class="skel-layers-fixed">
  <h1><a href="{{ site.baseurl }}/" class="site-title">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li><a href="{{ site.baseurl }}/about">About</a></li>
      <li><a href="{{ site.baseurl }}/research">Research</a></li>
      <li><a href="{{ site.baseurl }}/join">Join</a></li>
      <li><a href="{{ site.baseurl }}/news">News</a></li>
      <li><a href="{{ site.baseurl }}/access">Access</a></li>

      <!-- {% for page in site.pages %} {% if page.lang == "en" %} {% if page.title
      %}
      <li>
        <a class="page-link" href="{{ page.url | prepend: site.baseurl }}"
          >{{ page.title }}</a
        >
      </li>
      {% endif %} {% endif %}{% endfor %} -->

      <li>
        <a {% static_href %}href="{{ site.baseurl }}/" {% endstatic_href %}
          >EN</a
        >
        /
        <a
          {%
          static_href
          %}href="{{ site.baseurl }}/ja/landing"
          {%
          endstatic_href
          %}
          >JP</a
        >
      </li>
    </ul>
  </nav>
</header>
